<h1>Editing comment</h1>

<%= error_messages_for :comment %>

<% form_for(:comment,:url => post_comment_path(@post,@comment),:html => {:method => :put}) do |f| %>
<%= render :partial => 'comment_form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', post_comment_path(@post,@comment) %> |
<%= link_to 'Back', post_comments_path(@post) %>
