<h1>Editing post</h1>

<%= error_messages_for :post %>

<% form_for(@post) do |f| %>
  <%= render :partial => 'post_form',:object => @post,:locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', permalink_path(@post.permalink) %> |
<%= link_to 'Back', posts_path %>
