<% content_for :title do -%>
<%= title(h(@post.title)) %>
<% end -%>

<%= render :partial => 'post' %>

<h3 id="post_comments">Responses to &quot;<%=h @post.title%>&quot;</h3>
<% unless @post.comments.empty? -%>
<%= render :partial => 'comments/comment', :collection => @post.comments %>
<% else -%>
<p>No resposnes yet.</p>
<% end -%>

<div id="post_new_comment">
  <%= render 'comments/new' %>
</div>
