<% title(h(@post.title)) %>

<% if flash[:notice] %><div id="flash" class="notice"><%= flash[:notice] %></div><% end %>

<%= render :partial => 'post' %>

<h3 id="post_comments_header">Responses to &quot;<%=h @post.title%>&quot;</h3>
<% unless @post.comments.moderated.empty? -%>
  <%= render :partial => 'comments/comment',:collection => @post.comments.moderated %>
<% else -%>
  <p>No responses yet.</p>
<% end -%>

  <% unless @post.closed? -%>
    <%= render 'comments/new' %>
  <% else -%>
    <span><em>Comments are now closed.</em></span>
  <% end -%>
