<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <title><%= yield :title %></title>
   <%= stylesheet_link_tag 'reset-fonts-grids','bbot', :cache => 'styles' %>
 </head>
 <body>
   <div id="doc" class="yui-t4">

     <div id="hd">
       <h1><%= link_to "watch this &amp;nbsp;",posts_path, :class => 'header'%></h1>
       <span id="subhd">the official mrchucho blog</span>
     </div>

     <div id="bd">
       <div id="yui-main">
         <div class="yui-b">
           <div class="yui-g">
             <%= yield %>
           </div>
         </div>
       </div>
       <div class="yui-b">
         <%= yield :navigation %>
       </div>
     </div>

     <div id="ft">
       <!--p><strong>mrchucho.net</strong> and <strong>watch this &amp;nbsp;</strong> are &copy; 2008 Ralph M. Churchill</p-->
     </div>
   </div>
 </body>
</html>

