<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <title><%= yield :title %></title>
   <%= stylesheet_link_tag 'reset-fonts-grids','bbot', :cache => 'styles' %>

   <%= auto_discovery_link_tag(:rss,  formatted_posts_url(:rss)) %>
   <%= auto_discovery_link_tag(:atom, formatted_posts_url(:atom)) %>
 </head>
 <body>
   <div id="doc" class="yui-t4">

     <div id="hd">
       <h1><%= link_to BLOG_TITLE ,posts_path, :class => 'header'%></h1>
       <span id="subhd"><%= BLOG_SUBTITLE %></span>
     </div>

     <div id="bd">
       <div id="yui-main">
         <div class="yui-b">
           <div class="yui-g">
             <%= yield %>
           </div>
         </div>
       </div>
       <div class="yui-b">
         <%# yield :navigation %>
         <ul id="menu">
           <li><p><%= BLOG_BLURB %></p></li>
           <li>
           <ul id="pages">
             <%- Page.displayed_in_layout.each do |page| -%>
             <li><%= link_to page.title, page_path(page.permalink) %></li>
             <%- end -%>
           </ul>
           </li>
         </ul>
       </div>
     </div>

     <div id="ft">
     </div>
   </div>
   <%= link_to 'atom', formatted_posts_url(:format => :atom) %>
   <%= link_to 'rss', formatted_posts_url(:format => :rss) %>
 </body>
</html>

